<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szhbl.project.client.mapper.DocClientLattersMapper">
    
    <resultMap type="com.szhbl.project.client.domain.DocClientLatters" id="DocClientLattersResult">
        <result property="id"    column="id"    />
        <result property="clientId"    column="client_id"    />
        <result property="latterName"    column="latter_name"    />
        <result property="latterUrl"    column="latter_url"    />
        <result property="activeStartTime"    column="active_start_time"    />
        <result property="activeEndTime"    column="active_end_time"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="uploadTime"    column="upload_time"    />
    </resultMap>

    <sql id="selectDocClientLattersVo">
        select id, client_id, latter_name, latter_url, active_start_time, active_end_time, del_flag, upload_time from doc_client_latters
    </sql>

    <select id="selectDocClientLattersList" parameterType="DocClientLatters" resultMap="DocClientLattersResult">
        <include refid="selectDocClientLattersVo"/>
        <where>
            <if test="clientId != null  and clientId != ''"> and client_id = #{clientId}</if>
            <if test="latterName != null  and latterName != ''"> and latter_name like concat('%', #{latterName}, '%')</if>
            <if test="latterUrl != null  and latterUrl != ''"> and latter_url = #{latterUrl}</if>
            <if test="activeStartTime != null "> and active_start_time = #{activeStartTime}</if>
            <if test="activeEndTime != null "> and active_end_time = #{activeEndTime}</if>
            <if test="uploadTime != null "> and upload_time = #{uploadTime}</if>
            <if test="delFlag != null "> and del_flag = #{delFlag}</if>
        </where>
        order by upload_time desc
    </select>
    
    <select id="selectDocClientLattersById" parameterType="Long" resultMap="DocClientLattersResult">
        <include refid="selectDocClientLattersVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertDocClientLatters" parameterType="DocClientLatters" useGeneratedKeys="true" keyProperty="id">
        insert into doc_client_latters
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="clientId != null  and clientId != ''">client_id,</if>
            <if test="latterName != null  and latterName != ''">latter_name,</if>
            <if test="latterUrl != null  and latterUrl != ''">latter_url,</if>
            <if test="activeStartTime != null ">active_start_time,</if>
            <if test="activeEndTime != null ">active_end_time,</if>
            <if test="delFlag != null ">del_flag,</if>
            <if test="uploadTime != null ">upload_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="clientId != null  and clientId != ''">#{clientId},</if>
            <if test="latterName != null  and latterName != ''">#{latterName},</if>
            <if test="latterUrl != null  and latterUrl != ''">#{latterUrl},</if>
            <if test="activeStartTime != null ">#{activeStartTime},</if>
            <if test="activeEndTime != null ">#{activeEndTime},</if>
            <if test="delFlag != null ">#{delFlag},</if>
            <if test="uploadTime != null ">#{uploadTime},</if>
         </trim>
    </insert>

    <update id="updateDocClientLatters" parameterType="DocClientLatters">
        update doc_client_latters
        <trim prefix="SET" suffixOverrides=",">
            <if test="clientId != null  and clientId != ''">client_id = #{clientId},</if>
            <if test="latterName != null  and latterName != ''">latter_name = #{latterName},</if>
            <if test="latterUrl != null  and latterUrl != ''">latter_url = #{latterUrl},</if>
            <if test="activeStartTime != null ">active_start_time = #{activeStartTime},</if>
            <if test="activeEndTime != null ">active_end_time = #{activeEndTime},</if>
            <if test="delFlag != null ">del_flag = #{delFlag},</if>
            <if test="uploadTime != null ">upload_time = #{uploadTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDocClientLattersById" parameterType="Long">
        delete from doc_client_latters where id = #{id}
    </delete>

    <delete id="deleteDocClientLattersByIds" parameterType="String">
        update doc_client_latters set del_flag = 1 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectOrderToEmailNoticeLatters" resultType="com.szhbl.project.client.dto.LatterNoticeDto">
        SELECT
            bso.order_number AS orderNumber,
            bso.order_ID AS orderId,
            dod.isChoose,
            dod.isSubmit,
            bso.client_email AS clientEmail,
            CASE
                bso.class_EastAndWest
                WHEN 0 THEN
                bc.w_Merchandiser_id ELSE bc.e_Merchandiser_id
            END AS merchandiserId
        FROM
            busi_shippingorder bso
            LEFT JOIN busi_clients bc ON bc.client_ID = bso.client_ID
            left join doc_order_document dod on dod.order_id = bso.order_ID
        WHERE
             bso.class_EastAndWest = 0
            and bso.IsConsolidation = 1
            and bso.IsExamline = 1
            and bso.order_ID IN (
            SELECT
                order_id
            FROM
                lading_bill lb
            WHERE
                lb.ci_startdate IS NOT NULL AND lb_state > 0
            AND date( lb.ci_startdate ) <![CDATA[<=]]> date_sub( curdate( ), INTERVAL 8 DAY )
            )
            and dod.file_type_key = 'order_notice_file'
            and dod.isChoose = 0
    </select>
    
</mapper>