<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szhbl.project.basic.mapper.BusiDictMapper">
    
    <resultMap type="BusiDict" id="BusiDictResult">
        <result property="id"    column="id"    />
        <result property="fid"    column="fid"    />
        <result property="ancestors"    column="ancestors"    />
        <result property="mcheng"    column="mCheng"    />
        <result property="state"    column="state"    />
        <result property="sort"    column="sort"    />
        <result property="yuyan"    column="yuyan"    />
        <result property="westMerchandiser"    column="west_merchandiser"    />
        <result property="westMerchandiserId"    column="west_merchandiser_id"    />
        <result property="eastMerchandiser"    column="east_merchandiser"    />
        <result property="eastMerchandiserId"    column="east_merchandiser_id"    />
        <result property="mails"    column="mails"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectBusiDictVo">
        select id, fid, ancestors, mCheng, state, sort, yuyan, west_merchandiser, west_merchandiser_id, east_merchandiser, east_merchandiser_id, mails, del_flag, create_by, create_time, update_by, update_time, remark from system_dict
    </sql>

    <select id="selectBusiDictListMy" parameterType="BusiDict" resultMap="BusiDictResult">
        select id,mCheng from system_dict where fid = 1 order by sort
    </select>

    <select id="selectBusiDictList" parameterType="BusiDict" resultMap="BusiDictResult">
        <include refid="selectBusiDictVo"/>
        <where>  
            <if test="fid != null "> and fid = #{fid}</if>
            <if test="ancestors != null  and ancestors != ''"> and ancestors = #{ancestors}</if>
            <if test="mcheng != null  and mcheng != ''"> and mCheng = #{mcheng}</if>
            <if test="state != null  and state != ''"> and state = #{state}</if>
            <if test="sort != null  and sort != ''"> and sort = #{sort}</if>
            <if test="yuyan != null  and yuyan != ''"> and yuyan = #{yuyan}</if>
            <if test="westMerchandiser != null  and westMerchandiser != ''"> and west_merchandiser = #{westMerchandiser}</if>
            <if test="westMerchandiserId != null "> and west_merchandiser_id = #{westMerchandiserId}</if>
            <if test="eastMerchandiser != null  and eastMerchandiser != ''"> and east_merchandiser = #{eastMerchandiser}</if>
            <if test="eastMerchandiserId != null "> and east_merchandiser_id = #{eastMerchandiserId}</if>
            <if test="mails != null  and mails != ''"> and mails = #{mails}</if>
        </where>
    </select>
    
    <select id="selectBusiDictById" parameterType="Long" resultMap="BusiDictResult">
        <include refid="selectBusiDictVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBusiDict" parameterType="BusiDict" useGeneratedKeys="true" keyProperty="id">
        insert into system_dict
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fid != null ">fid,</if>
            <if test="ancestors != null  and ancestors != ''">ancestors,</if>
            <if test="mcheng != null  and mcheng != ''">mCheng,</if>
            <if test="state != null  and state != ''">state,</if>
            <if test="sort != null  and sort != ''">sort,</if>
            <if test="yuyan != null  and yuyan != ''">yuyan,</if>
            <if test="westMerchandiser != null  and westMerchandiser != ''">west_merchandiser,</if>
            <if test="westMerchandiserId != null ">west_merchandiser_id,</if>
            <if test="eastMerchandiser != null  and eastMerchandiser != ''">east_merchandiser,</if>
            <if test="eastMerchandiserId != null ">east_merchandiser_id,</if>
            <if test="mails != null  and mails != ''">mails,</if>
            <if test="delFlag != null  and delFlag != ''">del_flag,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="remark != null  and remark != ''">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="fid != null ">#{fid},</if>
            <if test="ancestors != null  and ancestors != ''">#{ancestors},</if>
            <if test="mcheng != null  and mcheng != ''">#{mcheng},</if>
            <if test="state != null  and state != ''">#{state},</if>
            <if test="sort != null  and sort != ''">#{sort},</if>
            <if test="yuyan != null  and yuyan != ''">#{yuyan},</if>
            <if test="westMerchandiser != null  and westMerchandiser != ''">#{westMerchandiser},</if>
            <if test="westMerchandiserId != null ">#{westMerchandiserId},</if>
            <if test="eastMerchandiser != null  and eastMerchandiser != ''">#{eastMerchandiser},</if>
            <if test="eastMerchandiserId != null ">#{eastMerchandiserId},</if>
            <if test="mails != null  and mails != ''">#{mails},</if>
            <if test="delFlag != null  and delFlag != ''">#{delFlag},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
         </trim>
    </insert>

    <update id="updateBusiDict" parameterType="BusiDict">
        update system_dict
        <trim prefix="SET" suffixOverrides=",">
            <if test="fid != null ">fid = #{fid},</if>
            <if test="ancestors != null  and ancestors != ''">ancestors = #{ancestors},</if>
            <if test="mcheng != null  and mcheng != ''">mCheng = #{mcheng},</if>
            <if test="state != null  and state != ''">state = #{state},</if>
            <if test="sort != null  and sort != ''">sort = #{sort},</if>
            <if test="yuyan != null  and yuyan != ''">yuyan = #{yuyan},</if>
            <if test="westMerchandiser != null  and westMerchandiser != ''">west_merchandiser = #{westMerchandiser},</if>
            <if test="westMerchandiserId != null ">west_merchandiser_id = #{westMerchandiserId},</if>
            <if test="eastMerchandiser != null  and eastMerchandiser != ''">east_merchandiser = #{eastMerchandiser},</if>
            <if test="eastMerchandiserId != null ">east_merchandiser_id = #{eastMerchandiserId},</if>
            <if test="mails != null  and mails != ''">mails = #{mails},</if>
            <if test="delFlag != null  and delFlag != ''">del_flag = #{delFlag},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBusiDictById" parameterType="Long">
        delete from system_dict where id = #{id}
    </delete>

    <delete id="deleteBusiDictByIds" parameterType="String">
        delete from system_dict where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>